{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Interactive Map</title>

    <script src="https://kit.fontawesome.com/2c4446d2cc.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/map.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>


<body style="
font-family: 'Roboto', sans-serif;
">
    <div id="map"></div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-secondary">
          <div class="modal-header text-center">
            <h1 class="modal-title" id="modalLabel">Enter Details</h1>
            
          </div>
          <div class="modal-body">
            <h3 for="icon">Choose an Icon:</h3>
            <input type="radio" id="MainIcon" name="icon" value="MainIcon">
            <label for="MainIcon"> <img src="{% static 'icons/main.png' %}" width="22">Pointer</label><br>
            <input type="radio" id="FireIcon" name="icon" value="FireIcon">
            <label for="FireIcon"> <img src="{% static 'icons/fire.png' %}" width="22"> Fire</label><br>
            <input type="radio" id="PoliceIcon" name="icon" value="PoliceIcon">
            <label for="PoliceIcon"> <img src="{% static 'icons/policeman.png' %}" width="22"> Police</label> <br>
            <input type="radio" id="CrowdIcon" name="icon" value="CrowdIcon">
            <label for="CrowdIcon"> <img src="{% static 'icons/crowd.png' %}" width="22"> Crowd</label><br>
            <input type="radio" id="BarricadeIcon" name="icon" value="BarricadeIcon">
            <label for="BarricadeIcon"> <img src="{% static 'icons/barricade.png' %}" width="22"> Barricade</label><br>
            <input type="radio" id="VoteIcon" name="icon" value="VoteIcon">
            <label for="VoteIcon"> <img src="{% static 'icons/votebox.png' %}" width="22"> Vote Box</label> <br> <br>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter a Title"> <br> <br>
            <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Enter a Description"></textarea><br> <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary submit-button">Add to Map</button>
            <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    

    

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        const loc = '{{location}}'
    </script>
    <script src="{% static 'scripts/map.js' %}?n=1"></script>

    {% csrf_token %}
    <script>

const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

// Retrieve the pointers from the Django template context
var pointers = JSON.parse('{{ pointers|escapejs }}');

// Create a mapping of icon names to their corresponding icon objects
var iconMap = {
  'MainIcon': L.icon({ iconUrl: "{% static 'icons/main.png' %}", iconSize: [30, 30] }),
  'FireIcon': L.icon({ iconUrl: "{% static 'icons/fire.png' %}", iconSize: [25, 25] }),
  'PoliceIcon': L.icon({ iconUrl: "{% static 'icons/policeman.png' %}", iconSize: [22, 22] }),
  'BarricadeIcon': L.icon({ iconUrl: "{% static 'icons/barricade.png' %}", iconSize: [30, 30] }),
  'CrowdIcon': L.icon({ iconUrl: "{% static 'icons/crowd.png' %}", iconSize: [30, 30] }),
  'VoteIcon': L.icon({ iconUrl: "{% static 'icons/votebox.png' %}", iconSize: [22, 22] }),
};

for (var i = 0; i < pointers.length; i++) {
  var pointer = pointers[i];
  var iconKey = pointer.fields.icon;
  var selectedicon = iconMap[iconKey] || iconMap['MainIcon'];

  // Create a new marker
  var newMarker = L.marker([parseFloat(pointer.fields.latitude), parseFloat(pointer.fields.longitude)], { icon: selectedicon }).addTo(map);

  // Bind a popup with title and description
  newMarker.bindPopup(`
    <h3>${pointer.fields.title}</h3>
    <p>${pointer.fields.description}</p>
  `);

  // Create a button element and add a click event listener
  var button = document.createElement('button');
  button.textContent = 'Delete';
  button.setAttribute('id', pointer.pk);
  button.setAttribute('class', 'delete-button btn btn-danger');

  // Add the button to the marker's popup
  newMarker.getPopup().setContent(newMarker.getPopup().getContent() + button.outerHTML);
}



    </script>

</body>

</html>